@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}

p, 
a, 
td, 
label, 
button
 {
    font-family: 'Roboto Mono';
    font-size: 14px;
}

input {
    letter-spacing: 0.5px;
}